@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
}

.TodoWrapper {
  background: #2e83b8;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: white;
  border: 2px solid #78e0f5;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
}

.todo-input::placeholder {
  color: #bcbaba;
  font-weight: 300px;
}

.todo-input:hover::placeholder {
  color: white;
  font-weight: 300px;
}

.todo-input:hover {
  background: rgba(128, 178, 236);
  color: white;
  font-weight: 300;
  border: 2px solid #78e0f5;
}

.todo-btn {
  background: none;
  color: #fff;
  border: 2px solid white;
  padding: 0.45rem;
  cursor: pointer;
  border-radius: 5px;
}
.todo-btn:hover {
  background: rgba(128, 178, 236);
  color: black;
  border: 2px solid black;
  font-weight: bold;
}

.Todo:hover {
  background: rgb(128, 178, 236);
  color: black;
  border: 2px solid black;
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 3px solid white;
  color: white;
  padding: 0.75rem 1rem;
  border-radius: 6px;
  margin-bottom: 1rem;
}

.fa-trash {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #c2ffae;
  text-decoration: line-through;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
}
 